<div class='navbar'>
    <ul>
        <li><a class="active" href="index.php">Inicio</a></li>
        <li class="float-left"><a href="cad-host-manutencao.php">Colocar hosts em Manutenção</a></li>
        <li class="float-left"><a href="lst-grupo-schedule.php">Manutenções</a></li>


        <li class="float-left"><a href="cad-macro-schedule.php">Alterar Macros</a></li>

        <!--<li class="float-left"><a href="lst-macro-schedule.php">Alterações de Macro</a></li>-->

        <!--<li class="float-left"><a href="lst-hosts.php">Hosts</a></li>-->
        <!--<li class="float-left"><a href="lst-macros.php">Macros</a></li>-->
        <!--<li class="float-left"><a href="logs.php">Logs</a></li>-->


        
        <li class="float-right"><a href="logout.php">Logout</a></li>
        <li class="float-right"><a href="edit-pass.php" >Alterar a minha senha</a></li>
        <!--<li class="float-right"><a href="cad-usuario.php">Usuários</a></li>-->
    </ul>
</div>